In [92]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [93]:
df = pd.read_csv("Data/file(3).csv")
df.head()

,ID,KIDSDRIV,AGE,HOMEKIDS,YOJ,INCOME,PARENT1,HOME_VAL,MSTATUS,GENDER,...,TIF,CAR_TYPE,RED_CAR,OLDCLAIM,CLM_FREQ,REVOKED,MVR_PTS,CLM_AMT,CAR_AGE,CLAIM_FLAG
0,63581743,0,60.0,0,11.0,"$67,349",No,$0,z_No,M,...,11,Minivan,yes,"$4,461",2,No,3,$0,18.0,0
1,132761049,0,43.0,0,11.0,"$91,449",No,"$257,252",z_No,M,...,1,Minivan,yes,$0,0,No,0,$0,1.0,0
2,921317019,0,48.0,0,11.0,"$52,881",No,$0,z_No,M,...,1,Van,yes,$0,0,No,2,$0,10.0,0
3,727598473,0,35.0,1,10.0,"$16,039",No,"$124,191",Yes,z_F,...,4,z_SUV,no,"$38,690",2,No,3,$0,10.0,0
4,450221861,0,51.0,0,14.0,NaN,No,"$306,251",Yes,M,...,7,Minivan,yes,$0,0,No,0,$0,6.0,0

SMOTE

A = minority class

N examples from A are randomly choses from its K Nearest Neighbour ==> A1

For each X in A1,

Xnew = X + rand(0,1) * | X-Xnew |

-------------------------------------------------------------------------------

NEARMISS ALGORITHM

Remove instaces of majority class where they are very close to minority class

Find distances between instances of majority class and instances of minority class.

Find N instances in Maj class with smallest distance from Min class

If there are K instances in min class then after undersampling there'll be (N*K) instances

Ways to find N:

1. Sample of maj class for which average distance from k closest instances of min class is smallest

2. Sample of maj class for which average distance from k farthest instances of min class is smallest

3.1 M nearest neighbours of intances of min class is stored

3.2 Maj class instances are selected for which the avg dist to N nearest neighbours is the largest

In [94]:
df.isnull().sum()

ID              0
KIDSDRIV        0
AGE             7
HOMEKIDS        0
YOJ           548
INCOME        570
PARENT1         0
HOME_VAL      575
MSTATUS         0
GENDER          0
EDUCATION       0
OCCUPATION    665
TRAVTIME        0
CAR_USE         0
BLUEBOOK        0
TIF             0
CAR_TYPE        0
RED_CAR         0
OLDCLAIM        0
CLM_FREQ        0
REVOKED         0
MVR_PTS         0
CLM_AMT         0
CAR_AGE       639
CLAIM_FLAG      0
dtype: int64

In [95]:
df = df.dropna(subset=['CAR_AGE', 'OCCUPATION', 'HOME_VAL', 'INCOME', 'YOJ', 'AGE'])

In [96]:
df.isnull().sum()

ID            0
KIDSDRIV      0
AGE           0
HOMEKIDS      0
YOJ           0
INCOME        0
PARENT1       0
HOME_VAL      0
MSTATUS       0
GENDER        0
EDUCATION     0
OCCUPATION    0
TRAVTIME      0
CAR_USE       0
BLUEBOOK      0
TIF           0
CAR_TYPE      0
RED_CAR       0
OLDCLAIM      0
CLM_FREQ      0
REVOKED       0
MVR_PTS       0
CLM_AMT       0
CAR_AGE       0
CLAIM_FLAG    0
dtype: int64

In [97]:
cat_cols = [i for i in df.columns if df[i].dtype == 'object']
df = df.drop(columns=cat_cols)

In [98]:
df['CLAIM_FLAG'].value_counts()

0    5598
1    2059
Name: CLAIM_FLAG, dtype: int64

In [99]:
from sklearn.model_selection import train_test_split

In [100]:
X = df.drop(columns=['CLAIM_FLAG'])
y = df['CLAIM_FLAG']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=9)

SMOTE

In [101]:
y_train.value_counts()

0    3941
1    1418
Name: CLAIM_FLAG, dtype: int64

In [102]:
from imblearn.over_sampling import SMOTE

In [103]:
sm = SMOTE(random_state=9)

In [104]:
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

In [109]:
print(X_train.shape)
print(X_train_res.shape)
print(y_train.shape)
print(y_train_res.shape)

(5359, 10)
(7882, 10)
(5359,)
(7882,)

In [110]:
y_train.value_counts()

0    3941
1    1418
Name: CLAIM_FLAG, dtype: int64

In [111]:
y_train_res.value_counts()

0    3941
1    3941
Name: CLAIM_FLAG, dtype: int64

NEARMISS ALGORITHM

In [112]:
from imblearn.under_sampling import NearMiss

In [113]:
nm = NearMiss()
X_train_us, y_train_us = nm.fit_resample(X_train, y_train)

In [114]:
print(X_train.shape)
print(X_train_us.shape)
print(y_train.shape)
print(y_train_us.shape)

(5359, 10)
(2836, 10)
(5359,)
(2836,)

In [115]:
y_train.value_counts()

0    3941
1    1418
Name: CLAIM_FLAG, dtype: int64

In [116]:
y_train_us.value_counts()

0    1418
1    1418
Name: CLAIM_FLAG, dtype: int64